<!DOCTYPE html>
<html>
    <head>
        <title>TypeScript Hello Web</title>
    </head>
    <body>
        <script src="static/ethers-5.2.esm.min.js" type="application/javascript"></script>

    </body>
</html>
