<!DOCTYPE html>
<html>
    <head>
        <title>TypeScript Hello Web</title>
    </head>
    <body>
        <label for="eth_addr">ETH Address : </label>
        <input type="text" id="addr1" name="eth_addr">
        <br>
        <button id="button1" type="button">Get block number</button>
        <button id="button2" type="button">Send TX</button>
        <script src="static/js/ethers-5.2.esm.min.js" type="application/javascript"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/metamask.js"></script>
    </body>
</html>
